export(doc2keywords)

export(mkCSV) # Rename this to xlsx

import(ReadPDF)
import(RJSONIO)
import(stringi)
import(partykit)

export(getLocation, getMisc, getVirus, getVirus2,
       getSpecies,
       getDiagTest, getCountry)

export(getErrors, getType1, getType1)

export(trainTreeClassifier)

export(trimExtractResults, resultsByPDF, getMetaInfo)
