export(doc2keywords)

export(mkCSV) # Rename this to xlsx

import(ReadPDF)
import(RJSONIO)
import(stringi)
import(partykit)

export(getLocation, getMisc, getVirus, getVirus2,
       getSpecies, getDate,
       getDiagTest, getCountry,
       getGoldStandTest, getSpeciesAbb)

export(combineSpecies, cullDates)

export(getErrors, getType1, getType1)

export(trainTreeClassifier, mkTrainingSet, mkTestSet)

export(scoreExtractResults, resultsByPDF, getMetaInfo)
